*{
    padding: 0;
    margin: 0;
}
nav ul{
    background-color: rgb(158, 11, 11);
    width: 100%;
    list-style-type: none;
    text-align: left;
}
nav li{
    display: inline-flex;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150%;
}
nav li :hover{
    background-color: white;
}
h4{
    text-align: right;
    margin: 30px;
}
img{
    width: 1000px;
    height: 500px;
    border-radius: 20px;
    
}
.container{
    display: flex;
    margin: 80px;
}

.parte3{
    background-color: rgb(33, 33, 51);
    height: 300px;
}
.linea{
    display: flex;
    margin: 80px;
}